{% extends "baseAfterLogin.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light navbarNew" style="margin-bottom: 3%;">
    <div class="container">
        <a class="navbar-brand" href="/start"><img src="/images/MyBudgetSmall.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/revenue">Add Revenue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link activeItem" href="/expense">Add Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/balance">Balance Sheet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
        </div>
    </div>     
</nav>
    <section class="container-fluid">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div id="ok" style="display: none;" class="boxLimit">
                    <div class="four">
                        <p><b>Limit: </b><span id="txt1"></span></p>
                    </div>
                    <div class="four">
                        <p><b>Has been issued: </b><span id="txt2"></span></p>
                    </div>
                    <div class="four">
                        <p><b>Difference: </b><span id="txt3"></span></p>
                    </div>
                    <div class="four">
                        <p><b>Expenses + amount entered: </b><span id="txt4"></span></p>
                    </div>
                </div>
                <form class="form-container box" action="/expense/add" method="post" id="expenseForm"> 
                  <div class="formTitle">
                    <h3>EXPENSE</h3>
                  </div>
                    <div class="form-group">
                      <label for="inputAmount">Amount</label>
                      <input id="inputAmount" name="amount" placeholder="Amount" type="text" autofocus
                      class="form-control" aria-describedby="amountHelp" onkeyup="showHint()" required />
                      <small id="amountHelp" class="form-text text-muted">{{expense.errors.notDigit}}</small>
                      <small id="amountHelp" class="form-text text-muted">{{expense.errors.emptyDigit}}</small>
                    </div>

                    <div class="form-group">
                      <label for="inputDate">Date</label>
                      <input  class="form-control" id="datepicker" name="date" placeholder="Date"
                      required aria-describedby="dateHelp" required>
                      <small id="dateHelp" class="form-text text-muted">{{expense.errors.emptyDate}}</small>
                      <small id="dateHelp" class="form-text text-muted">{{expense.errors.wrongDate}}</small>
                    </div>
                    <div class="form-group">
                        <label for="paymentMethod">Payment Method</label>
                        <select class="form-control" id="paymentMethod" name="payment" required>
                            <option value="" selected disabled hidden >Choose</option>
                            {% for payment in payments %}
                            <option value='{{payment.name}}'>{{payment.name}}</option>
							{% endfor%}
                        </select>
                        <small id="amountHelp" class="form-text text-muted">{{expense.errors.emptyPayment}}</small>
                    </div>
                    <div class="form-group">
                        <label for="expenseCategory">Category</label></br>
                        
                            
                            {% for categorie in categories %}
                            <div class="input-group">
                            <label><input type="radio" name="category" onclick="showHint()"  class="category"
                                 value="{{categorie.name}}">
                                 {% if categorie.category_limit is empty %}
                                
                                 {{categorie.name}}

                                 {% else %}

                                 {{categorie.name}} [Limit - &nbsp;{{ categorie.category_limit }}]


                                 {% endif %}
                                 </label>
                            </div>
							{% endfor%}
                        
                        <small id="amountHelp" class="form-text text-muted">{{expense.errors.emptyCategory}}</small>
                    </div>
                    <div class="form-group">
                        <label for="validationTextarea">Comment</label>
                        <textarea class="form-control" id="validationTextarea"
                        placeholder="You can add a comment" name="comment"></textarea>
                        <small id="amountHelp" class="form-text text-muted">{{expense.errors.char}}</small>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Submit</button>

                  </form>
            </section>
      </section>

      <footer class="footer2">
        <div>© 2020 Copyright:
          <a href="/">mybudget.marek-galganski.pl</a>
        </div>
      </footer>
      
      {% block footer %}
 
      <script>
      $( function() {
		$( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
	    } );
      </script>
      <script>
        $(document).ready(function() {

            $('#expenseForm').validate({
                rules: {
                    amount: {
                        required: true,
                        number: true
                    }  
                }
               
            });
        });
      </script>
      <script>
      function showHint() {
       
            var category = $('input[name="category"]:checked').val();
            var amount = document.getElementById('inputAmount').value;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    if(this.responseText === ""){
                    document.getElementById("ok").style.display = "none";
                    }else{
                        var array = this.response.split("|");
                        
                        if(array[2] >= 0){
                            document.getElementById("ok").style.display = "block";
                            document.getElementById("ok").style.boxShadow = "0px 0px 10px 0px #7FFF00";
                            document.getElementById("txt1").innerHTML = array[0];
                            document.getElementById("txt2").innerHTML = array[1];
                            document.getElementById("txt3").innerHTML = array[2];
                            document.getElementById("txt4").innerHTML = array[3];
                        }else{
                            document.getElementById("ok").style.display = "block";
                            document.getElementById("ok").style.boxShadow = "0px 0px 10px 0px red";
                            document.getElementById("txt1").innerHTML = array[0];
                            document.getElementById("txt2").innerHTML = array[1];
                            document.getElementById("txt3").innerHTML = array[2];
                            document.getElementById("txt4").innerHTML = array[3];
                        }
                    }
                }
            };
            xmlhttp.open("GET", "/expense/get-sum?amount=" + amount + "&category=" + category, true);
            xmlhttp.send();
        
    }
    
      </script>
  {% endblock %}
{% endblock %}


