{% extends "basebeforelogin.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<section class="container-fluid">
    <section class="row justify-content-center">
      <section class="col-12 col-sm-6 col-md-3 title">
        <a href="/"><h1>Personal Budget</h1></a>
      </section>      
    </section>
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <a href="/signup/new">Sign up</a> 
        </section>
        <section class="col-12 col-sm-6 col-md-3">
            <a href="/login">log in</a>
        </section>
    </section>
</section>




{% endblock %}
