{% extends "baseAfterLogin.html" %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light navbarNew">
        <div class="container">
            <a class="navbar-brand" href="/start"><img src="/images/MyBudgetSmall.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link activeItem" href="/revenue">Add Revenue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/expense">Add Expense</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/balance">Balance Sheet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
            </div>
        </div>     
    </nav>
    
    <section class="container-fluid">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-8 col-md-6 col-lg-4">
                <form class="form-container box" action="/revenue/add" method="post" id="revenueForm" style="margin-top: 20%;"> 
                  <div class="formTitle">
                    <h3>REVENUE</h3>
                  </div>
                    <div class="form-group">
                      <label for="inputAmount">Amount</label>
                      <input id="inputAmount" name="amount" placeholder="Amount" type="text" autofocus
                      class="form-control" aria-describedby="amountHelp" required />
                      <small id="amountHelp" class="form-text text-muted">{{revenue.errors.notDigit}}</small>
                      <small id="amountHelp" class="form-text text-muted">{{revenue.errors.emptyDigit}}</small>
                    </div>

                    <div class="form-group">
                      <label for="inputDate">Date</label>
                      <input  class="form-control" id="datepicker" name="date" placeholder="Date"
                      required aria-describedby="dateHelp" required>
                      <small id="amountHelp" class="form-text text-muted">{{revenue.errors.emptyDate}}</small>
                      <small id="amountHelp" class="form-text text-muted">{{revenue.errors.wrongDate}}</small>
                    </div>
                    <div class="form-group">
                        <label for="revenueCategory">Category</label>
                        <select class="form-control" id="revenueCategory" name="category" required>
                            <option value="" selected disabled hidden >Choose</option>
                            {% for categorie in categories %}
                            <option value='{{categorie.name}}'>{{categorie.name}}</option>
							{% endfor%}
                        </select>
                        <small id="amountHelp" class="form-text text-muted">{{revenue.errors.emptyCategory}}</small>
                    </div>
                    <div class="form-group">
                        <label for="validationTextarea">Comment</label>
                        <textarea class="form-control" id="validationTextarea"
                        placeholder="You can add a comment" name="comment"></textarea>
                        <small id="amountHelp" class="form-text text-muted">{{revenue.errors.char}}</small>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Submit</button>

                  </form>
            </section>
      </section>

      <footer class="footer2" style="margin-top: 5%;">
        <div>© 2020 Copyright:
          <a href="/">mybudget.marek-galganski.pl</a>
        </div>
      </footer>

      {% block footer %}
      <script>
      $( function() {
		$( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
	    } );
      </script>
      <script>
        $(document).ready(function() {

            $('#revenueForm').validate({
                rules: {
                    amount: {
                        required: true,
                        number: true
                    }  
                }
               
            });
        });
      </script>
  {% endblock %}
{% endblock %}


